{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Admin Area{% endblock %}

{% block page_content %}
    <div class="content">
        <p>
            Welcome to IAM Admin Dashboard.
        </p>
    </div>
{% endblock %}
