# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    jwt_jwks_file: '%kernel.project_dir%/config/jwt/jwks.json'
    
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\EventListener\UserEventListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'postLoad', entity: 'App\Entity\User\User' }

    App\OpenApi\AuthenticationDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

    App\OpenApi\RoleCustomDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

    App\OpenApi\OrganisasiCustomDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

    App\OpenApi\ReferensiCustomDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

    App\OpenApi\PegawaiCustomDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

    App\OpenApi\RefreshTokenDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

    shared_auth_library_jwt_user_provider:
        class: App\SharedAuthLibrary\Security\JwtUserProvider

    App\EventListener\SecurityEventSubscriber:
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated}
        arguments:
            $jwt_ttl: '%env(int:JWT_TTL)%'

    App\SharedAuthLibrary\Listener\JwtPayloadListener:
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_decoded, method: onJWTDecoded}

  
    App\Doctrine\Filter\NullFilter:
        tags:
            - { name: 'api_platform.filter', id: 'tanggalNonaktif_null' }
    
    App\SharedAuthLibrary\Security\ExternalJwtAuthenticator:
        arguments:
            $jwksFile: '%jwt_jwks_file%'
        tags:
            - { name: 'security.authenticator', firewall: 'api-ext' }
#        arguments:
#            $projectDir: '%kernel.project_dir%'
    
    App\SharedAuthLibrary\Security\ExternalApiEntryPoint: ~

    Redis:
        # you can also use \RedisArray, \RedisCluster or \Predis\Client classes
        class: Redis
        calls:
            - connect:
                  - '%env(REDIS_HOST)%'
                  - '%env(int:REDIS_PORT)%'
            # uncomment the following if your Redis server requires a password
            # - auth:
            #     - '%env(REDIS_PASSWORD)%'

    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - '@Redis'
            # you can optionally pass an array of options. The only options are 'prefix' and 'ttl',
            # which define the prefix to use for the keys to avoid collision on the Redis server
            # and the expiration time for any given entry (in seconds), defaults are 'sf_s' and null:
            # - { 'prefix': 'my_prefix', 'ttl': 600 }
